# Temporary folders
borrar/*
runs/*

# Data folders
index/*.index/*
index/Set12_utf8.index
index/Set3_utf8.index
index/relevantes_*

# Compress Indexes
index/Set3_utf8.index.tar.gz
index/Set12_utf8.index.tar.gz
index/Set3_utf8_term.index.tar.gz
index/Set12_utf8_term.index.tar.gz

# Temporary files
*.dat
*.png
README.md
*.log

# Temporary vim files
*.swp
*.swo

# Ignore git
.git
.gitignore

# Other files
.dockerignore
run_container.sh
tree_*